* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: black;
  text-align: center;
}
.main-heading {
  color: white;
  font-size: 50px;
}
.link {
  color: aquamarine;
  font-size: 16px;
}
.sub-heading {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
.paragraph {
  font-size: 21px;
  color: gray;
}
.footer{
    text-align: right;
    color: gray;
    font-size: 21px;
}
